.start-1{
    background-color:#6D8B74;
    /* width: 1520px; */
    height: 1005px;
}

.Heading{
    color: black;
    /* font-weight: 200; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding: 100spx; */
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.styledSelect{
    width: 335px;
    padding-left: 15px;
}


.styledSelect1{
    width: 335px;
    padding-left: 15px;
}


.styledSelect2{
    width: 335px;
    padding-left: 15px;
}

.btn:hover{
    color: #FAFDD6;
    /* background-color: #001E6C; */
}

.roww{
    padding-left: 200px;
}

h2{
    padding-top: 10px;
    padding-left: 200px;
    padding-top: 10px; 
    padding: auto;
}

.card{
    background-color: #DFDFDE;
}

.btn1{
    margin: 50px;
    background-color: lightgreen;
}
.btn2{
    margin: 50px;
    /* background-color: red; */
    background-color: lightgreen;
}
.btn3{
    margin: 50px;
    background-color: lightgreen;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

/* ............................................................. */

/* .start-1{
    background-color:#6D8B74;
    height: 900px;
} */

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 500px;
    padding-top: 10px;

}

.Form-add{
    padding-top:5%;
    padding-left: 33%;

}

.mbb{
    padding-left: 1.3%;
    width: 335px;
}

/* .btn1{
    padding-left: 27%;
} */


#footer{
    padding: 7% 15%;
    text-align: center;
}